<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sigmapool.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="App"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/icon_sigmapool"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"

            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".screens.bottomSheetScreen.BottomNavActivity"
                android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".navigation.ContainerActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateVisible|adjustResize"
        />

    </application>

</manifest>
